//  footer.scss

#colophon {
    text-align: center;
    padding: 1em 1.563em;
    background-color: $white;
    display: block;

    .mm4 {
        text-decoration:none;
        margin-top:2em;
        font-size:.8em;
        color:#616161;
        display: block;
    }

    .footer-address-section {
        font-family: $font__regular;
        color: $color__footer-text;
        margin-bottom: 1em;
        font-size: .9em;

        a {
            color: $color__footer-text;
            text-decoration: none;
        }

        h4 {
            margin: 5px 0;
            font-size: 1.25em;
        }
    }

    .footer-awards {
        img {
            padding: 5px;
        }

        .satisfacts-logo {
            width: 100px;

        }
        .grady-management-logo {
            width: 125px;
        }
    }

    .facebook {
        padding: 5px 0;
        float:left;
        width: 49%;
        text-align: right;

        svg {
            width: 40px;
        }
    }

    .housing {
        padding: 5px 0;
        float:right;
        width: 49%;
        text-align: left;

        svg {
            width: 40px;
        }
    }

    .wrapper {
        clear: both;
    }

    @media screen and (min-width: $laptop) {
        .mm4 {
            float:right;
            clear: both;
        }

        .site-info {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            flex-wrap: wrap;

            .footer-address-section {
                text-align: left;
                flex: 2;
            }

            .footer-awards {
                .satisfacts-logo {
                    width: 150px;
                }
                .grady-management-logo {
                    width: 190px;
                }
            }

            .facebook {
                float: none;
                width: 50px;
                text-align: center;
            }

            .housing {
                float: none;
                width: 50px;
                text-align: center;

            }

            .wrapper {
                text-align: right;
                margin-left: 15px;
            }
        }
    }

    @media screen and (min-width: $large) {
        padding: 2em;
    }
}