//  footer.scss

#colophon {
    text-align: center;
    padding: 1em .5em 4em;
    background-color: $white;
    display: block;

    .footer-address-section {
        font-family: $font__regular;
        color: $color__footer-text;
        margin-bottom: 1em;
        font-size: .9em;

        h4 {
            margin: 5px 0;
            font-size: 1.25em;
        }
    }

    .footer-awards {
        img {
            padding: 5px;
        }

        .satisfacts-logo {
            width: 125px;

        }
        .grady-management-logo {
            width: 125px;
        }
    }

    .footer-social {
        padding: 1em;

        span {
            padding: 5px;

            svg {
                width: 40px;
            }
        }
    }

    @media screen and (min-width: $tablet) {
        .site-info {
            display: flex;
            align-items: center;
            padding: 1em;

            .footer-address-section {
                flex: 1;
                text-align: left;
            }

            .footer-awards {
                .satisfacts-logo {
                    width: 150px;
                }
                .grady-management-logo {
                    width: 175px;
                }
            }
            .footer-social {
                // text-align: right;
                // flex: 1;
            }
        }
    }

    @media screen and (min-width: $laptop) {
        .site-info {
            .footer-address-section {
                font-size: $font__size-footer-desktop;
            }

            .footer-awards {
                .satisfacts-logo {
                    width: 200px;
                }
                .grady-management-logo {
                    width: 250px;

                }
            }
        }
    }
}