button {
    border: none;
    border-radius: 3px;
}
input[type="submit"] {
    border: none;
    border-radius: none;
    color: $white;
    background: $color__background-button;
    font-family: $font__bold;
    padding: .5em;
    margin-top: 1em;
    text-align: center;
    width: 100%;
}
