
@font-face {
  font-family: 'Arvo';
  src: url('fonts/Arvo.eot?#iefix') format('embedded-opentype'),  url('fonts/Arvo.woff') format('woff'), url('fonts/Arvo.ttf')  format('truetype'), url('fonts/Arvo.svg#Arvo') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GandhiSans-Bold';
  src: url('fonts/GandhiSans-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/GandhiSans-Bold.otf')  format('opentype'),
	     url('fonts/GandhiSans-Bold.woff') format('woff'), url('fonts/GandhiSans-Bold.ttf')  format('truetype'), url('fonts/GandhiSans-Bold.svg#GandhiSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GandhiSans-Regular';
  src: url('fonts/GandhiSans-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/GandhiSans-Regular.otf')  format('opentype'),
	     url('fonts/GandhiSans-Regular.woff') format('woff'), url('fonts/GandhiSans-Regular.ttf')  format('truetype'), url('fonts/GandhiSans-Regular.svg#GandhiSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
