//  floorplans.scss

.page-template-page-floorplans-page {

    .hentry {
        margin: 0;
    }

    .floor-plan-display {
        margin-bottom: 2em;

        .floor-plan-circles {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            img {
                padding: 1em;
            }

            @media (min-width: 560px) {
                flex-direction: row;
                max-width: 1000px;
                margin: auto;

                img {
                    flex: 1 1 auto;
                    padding: none;
                }
            }
        }

        @media (min-width: $large) {
            margin: 2em 0 4em;
        }
    }
}
