//  floorplan-listing.scss

.page-template-page-floorplan-listing-page {

    .site-content {
        padding-bottom: 0;

        .floor-plan-display {
            max-width: 1000px;
            margin: 2em auto 1em;

            .floor-plan-circles {
                display: flex;

                img {
                    flex: 1 1 auto;
                    padding: .2em;

                    @media (min-width: $tablet) {
                        padding: 1em;
                    }

                    @media (min-width: $laptop) {
                        padding: 1.5em;
                    }
                }
            }
        }
    }

    #floorplans {
        background-color: $alt__background;

        .floorplan-wrapper {
            @include outer-container;
            padding: 2em .5em;

            .fp-models {

                .floorplan-section {
                    text-align: center;
                    margin-bottom: 3em;

                    h2 {
                        color: $brand__dark_green;
                        font-family: $font__bold;
                    }

                    h3 {
                        color: $black;
                        font-family: $font__regular;
                    }
                }

                // .fp-models media query
                @media screen and (min-width: $tablet) {
                    display: flex;
                    flex-wrap: wrap;

                    .floorplan-section {
                        flex: 1 1 50%;
                    }
                }
            }
        }
    }
}


