//  floorplan-listing.scss

.page-template-page-floorplan-listing-page {

    .site-content {

        .floor-plan-display {
            // margin-top: 2em;  uncomment for circles under copy
            max-width: 800px;
            margin: 0 auto;

            .floor-plan-circles {
                text-align: center;
                display: flex;
                justify-content: space-around;

                img {
                    flex: 1;
                    padding: .2em;

                    @media (min-width: 480px) {
                        padding: .5em;
                    }

                    @media (min-width: $tablet) {
                        padding: 0;
                    }
                }
            }
        }
    }

    #floorplans {
        background-color: $alt__background;

        .floorplan-wrapper {
            @include outer-container;
            padding: 2em .5em;

            .fp-models {

                .floorplan-section {
                    text-align: center;
                    margin-bottom: 3em;

                    h2 {
                        color: $brand__dark_green;
                        font-family: $font__bold;
                    }

                    h3 {
                        color: $black;
                        font-family: $font__regular;
                    }
                }

                // .fp-models media query
                @media screen and (min-width: $tablet) {
                    display: flex;
                    flex-wrap: wrap;

                    .floorplan-section {
                        flex: 1 1 50%;
                    }
                }
            }
        }
    }

    @media (min-width: $tablet) {
        #masthead {
            position: relative;
            background-color: $white;
        }
    }
}


