//  floorplan-listing.scss

.page-template-page-floorplan-listing-page {

    .site-content {

        h1 {
            margin: 0;
        }

        .floor-plan-display {

            .floor-plan-circles {

                img {
                    max-width: 80px;
                    display: inline-block;
                    margin: .1em;

                    @media (min-width: $mobile) {
                        max-width: 115px;
                        margin: .5em;
                    }

                    @media (min-width: $tablet) {
                        max-width: 195px;
                        margin: 1em;

                    }
                }
            }
        }

        .floorplan-wrapper {
            background-color: $alt__background;
            padding: 2em 0;

            .floorplan-section {
                text-align: center;
                margin-bottom: 3em;

                h3 {
                    color: $brand__dark_green;
                    font-family: $font__bold;
                }

                h4 {
                    color: $black;
                    font-family: $font__regular;
                }

                img {
                    width: 300px;
                }
            }

            // .floorplan-wrapper media query
            @media screen and (min-width: $tablet) {

            }

            // .floorplan-wrapper media query
            @media screen and (min-width: $laptop) {

            }

        }
    }
}


