header {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #000000;
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url('../img/header/desk19.jpeg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}
.intro-body {
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
}



&:after {
    content: 'Display Words';
    border: 4px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
}

{Position: absolute;
Left: 0;
Right; 0;
Bottom: 0;
Top: 0;
text-align: center;
line-height: 50px;
}
postion: absolute;
top:50%;
  left:50%;
  -webkit-transform:translate(-50%, -50%);