// $font__regular: "GandhiSans-Regular";
// $font__bold: "GandhiSans-Bold";
// $font__arvo: "Arvo";

$brand__light-green: #babc89;
$brand__orange: #d69e4b;
$brand__red: #bd6573;
$brand__dark_green:#667264;
$alt__background:#F1F2E7;
$black:#000000;
$white:#ffffff;


$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

$color__link: $brand__orange;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: $white;
$color__footer-text: #616161;

$color__background-button: $brand__dark_green;
$color__alt-background-buton: $brand__light-green;

$color__border-button: $brand__orange;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: $white;
$color__border-abbr: #666;

$error__color: #990000