// font sizes - typography.scss

$size__site-main: 100%;
$size__site-sidebar: 25%;

.site-content {
    background-image: url(images/green-background.svg);
    background-size: cover;
    width: 100%;
    background-color: $brand__dark_green;
    font-family: $font__regular;

    .content-area {
        @include outer-container;
        margin-left: auto !important;
        margin-right: auto !important;
        padding: 0 1.563em;
        color: $color__text-main;
        font-size: $font__size-mobile;
        line-height: $font__line-height-body;
        text-align: left;

        h1 {
            font-family: $font__bold;
            font-size: $font__size-h1-mobile;
            line-height: $font__line-h1;
            text-align: left;
            margin: 1em 0 0;
        }

        h3 {
            font-size: $font__size-h3-mobile;
            // font-family: $font__bold;
        }

        // .content-area media query
        @media screen and (min-width: $mobile) {
            h1 {
                font-size: $font__size-h1-mobile;
            }

            p {
                // padding: 0 1em;
            }
        }

         // .content-area media query
        @media screen and (min-width: $tablet) {
            text-align: center;

            h1 {
                text-align: center;
            }

            p {
                // padding: 0 1em;
            }
        }

        // .content-area media query
        @media screen and (min-width: $laptop) {
            // font-size: 120%;

            // font-size: $font__size-desktop;

            h1 {
                // font-size: $font__size-h1-desktop;
            }

            p {
                // padding: 0 1em;
            }
        }

        // .content-area media query
        @media screen and (min-width: $desktop) {
            // font-size: 150%;

            // font-size: $font__size-desktop;

            h1 {
                // font-size: $font__size-h1-desktop;
            }

            p {
                // padding: 0 1em;
            }
        }
    }
}