// font sizes - typography.scss

$size__site-main: 100%;
$size__site-sidebar: 25%;

.site-content {
    background-image: url(images/green-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-color: $brand__dark_green;
    font-family: $font__regular;

    .entry-content p {
        margin: 1em 0;
    }

    .content-area {
        @include outer-container;
        padding: 2em 1.563em;
        color: $color__text-main;
        line-height: $font__line-height-body;
        text-align: left;

        h1 {
            font-family: $font__bold;
            line-height: $font__line-h1;
            text-align: left;
            margin: .3em 0 0;
        }

         // .content-area media query
        @media screen and (min-width: $tablet) {
            text-align: center;

            h1 {
                text-align: center;
            }
        }

        // .content-area media query
        @media screen and (min-width: $laptop) {
            font-size: 1.143rem;
        }
    }

    @media (min-width: $large) {
        h1 {
            font-size: 2.857rem;
        }
    }
}