// amenities.scss

.page-template-page-amenities-page {

    .site-content {
        padding-bottom: 1em;

        .amenities-wrapper {
            text-align: left;

            h3 {
                color: $brand__light-green;
                margin: 0;
            }

            ul {
                margin: 0;
                padding: 0 0 0 .5em;

                li {
                    margin: .3em;
                }
            }

            // .amenities-wrapper
            @media (min-width: $tablet) {
                display: flex;

                h3 {
                    margin: 0;
                    padding-left: .5em;
                }

                ul {
                    margin: 0 1em 1em;
                    padding-left: 0;
                }

                .apartment-section {
                    flex: 1 1 50%;
                }

                .community-section {
                    flex: 1 1 50%;
                }
            }

            @media (min-width: $desktop) {

                .apartment-section {
                    padding-left: 2em;
                }

                .community-section {
                    padding-left: 2em;
                }
            }

            @media (min-width: $large) {

                .apartment-section {
                    padding-left: 4em;
                }

                .community-section {
                    padding-left: 4em;
                }
            }
        }
    }
}