// community.scss

.page-template-page-community-page {

    #masthead {
        position: relative;
        background: $white;
    }

    .site-content {
        background: $brand__red;
    }

    #map-canvas {
        height: 300px;
    }

}