// contact.scss

.page-template-page-contact-page {

    .honey {
        display: none !important;
    }

    #masthead {
        position: relative;
        background: $white;
    }

    .hentry {
        margin: 0;
    }

    .site-content {
        background: $brand__orange;

        p {
            margin-bottom: 0;
        }

        .content-area {
            text-align: left;
        }

        .contact-page-wrapper {
            @include outer-container;
            padding: 1em;

            .contact-form-wrapper {

                form {

                    label {
                        color: $white;
                        padding-top: 1em;
                        font-family: $font__bold;
                    }

                    .error {
                        color: $error__color;
                    }

                    .msg-box span {
                        display: block;
                        padding: .5em 1em 0;
                    }
                }
            } // .contact-form-wrapper

            .sidebar-wrapper {
                background-color: $brand__dark_green;
                height:auto;
                margin: 2em 0;
                padding: 1em;

                .map-wrapper {
                    color: #000;

                    #map-canvas {
                        height:300px;
                    }

                    form {

                        input[type="submit"] {
                            background-color: $color__alt-background-buton;
                        }
                    }
                }
            }
        } // .contact-page-wrapper

        @media screen and (min-width: $tablet) {
            display: flex;
        }
    } // .site-content
}

// @media screen and (min-width: $tablet) {
//     display: flex;

//     .contact-form-wrapper {
//         flex: 1;
//         order: 2;
//     }

//     .sidebar-wrapper {
//         flex: 1;
//         order: 1;
//     }
// }