// contact.scss

.page-template-page-contact-page {

    .site {
        background-color: $brand__orange;

        .honey {
            display: none !important;
        }

        #masthead {
            position: relative;
            background: $white;
        }

        .hentry {
            margin: 0;
        }

        .site-content {
            @include outer-container;
            background-color: $brand__orange;
            background-image: none;

            p {
                margin-bottom: 0;
            }

            .content-area {
                text-align: left;

                .contact-page-wrapper {

                    .contact-form-wrapper {

                        form {

                            label {
                                color: $white;
                                padding-top: 1em;
                                font-family: $font__bold;
                            }

                            .error {
                                color: $error__color;
                            }

                            .msg-box span {
                                display: block;
                                padding: .5em 1em 0;
                            }
                        }
                    } // .contact-form-wrapper
                } // .contact-page-wrapper
            }

            .sidebar-wrapper {
                background-color: $brand__dark_green;
                height:auto;
                margin: 2em 0 -45px;
                padding: 1.563em 1.563em 2em;
                line-height: $font__line-height-body;


                .sidebar-info {
                    color: $white;

                    h2  {
                        font-family: $font__bold;
                        color: $brand__light-green;
                        text-transform: uppercase;
                        margin: .5em 0 .5em;
                    }
                }

                .map-wrapper {
                    margin: 2em 0;

                    #map-canvas {
                        height:250px;
                    }

                    form {
                        color: $white;
                        margin-top: 1em;

                        label {
                        }

                        input[type="submit"] {
                            background-color: $color__alt-background-buton;
                        }

                        #response-panel span {
                            color: $white;
                        }

                        .adp, .adp table, .adp-details, .adp-legal {
                            color: $white;
                        }
                    }
                }
            }

            @media screen and (min-width: $tablet) {
                display: flex;

                h1  {
                    text-align: left;
                }

                p {
                    text-align: left;
                }

                .content-area {
                    flex: 2;
                    order: 2;
                    margin-bottom: 2em;
                }

                .sidebar-wrapper {
                    flex: 1;
                    order: -1;
                    margin: 2em;

                }
            }

            @media screen and (min-width: $laptop) {
                display: flex;

                h1  {
                    text-align: left;
                }

                p {
                    text-align: left;
                }

                .content-area {
                    flex: 2;
                    order: 2;
                    margin-bottom: 2em;
                }

                .sidebar-wrapper {
                    flex: 1;
                    order: -1;
                    margin: 2em;

                }
            }
        } // .site-content
    }
}
