// masthead.scss

#masthead {
    width: 100%;
    height: 90px;
    position: absolute;
    z-index: 99999;
    left: 0;
    top: 0;
    background: rgba(243, 240, 230, .50);
    display: flex;
    justify-content: space-around;
    // align-items: center;
    padding: 1.25em;

    .site-branding {
        flex: 1;

        #logo img {
            width: 175px;
        }
    }

    #site-navigation {
        // flex: 1;
        .menu-toggle {
            display: block;
            color: $white;
            background-color: $brand__red;
            border: none;
            border-radius: 3px;
            box-shadow: none;
            padding: 10px 15px;

        }
        .masthead-tel {
            display: none;
        }
        .menu-primary-container {
            display: none;
        }
    }

    .featured-image img {
        width: 100%;
        // background-size:cover;
        position: relative;
        // width: 2545px;
        height: auto;
        // top: -223.777px;
        // left: 0px;
        z-index: -99999;
        display: block;
    }

    @media screen and (min-width: $laptop) {
        #site-navigation {
            text-align: right;
            .menu-toggle {
                display: none;
            }
            .masthead-tel {
                display: inline-flex;
                text-align: right;
            }
            .menu-primary-container {
                display: block;
                text-align: right;
                ul {
                    display: inline-flex;
                }
            }
        }
    }
}